body {
  background-color: #555454;
}

button#emcee {
  position: relative;
  z-index: 2;
  padding: 15px;
  font-size: medium;
  font-weight: bold;
  margin: 30px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  border-radius: 5px;
}
button:focus {
  outline: none;
}

div#box {
  width: 100px;
  height: 100px;
  background-color: #555454;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}
